@font-face {
    font-family: Norse_Bold;
    src: url('Norse-Bold.otf');
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 34, 34);
}

.main-container {
    display: flex;
    padding: 0 10%;
    height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.illustration-container {
    flex: 1;
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
}

.logo-container {
    background-color: #0000009c;
    display: flex;
    padding: .5rem;
    margin: auto 0;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.logo{
    max-height: 120px;
    max-width: 70px;
}

.logo-container p {
    font-size: 4rem;
    font-family: Norse_Bold;
    
}

.credits {
    margin-top: auto;
    color: #fff;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.credits a {
    color: #fff;
}

.form-container {
    background-color: #fffffff6;
    flex: 2;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.form-section {
    padding: 1rem 2rem;
    flex: 2;
}

.form-section p:first-child {
    margin-top: auto;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-right: 125px;
}

.form-section p:last-child {
    margin-bottom: 2rem;
}

.form-section:last-child {
    gap: 1rem;
    align-items: start;
}

.form-section:last-child p {
    margin-top: 0.7rem;
    font-size: 0.8rem;
    font-weight: lighter;
}

.emphasis {
    font-style: italic;
}


.input-section {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 10px 10px -10px #0000003d;
}

.input-section h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.input-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 450px;
}

li {
    list-style: none;
    flex: 1;
}

li label {
    display: block;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: #000000af;
    letter-spacing: 1px;
    margin-bottom: 1px;
}

.form-section button {
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    background-color: #596D48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: 0 5px 5px -2px #0000003d;
}

.form-section button:hover {
    background-color: #4a5f3f;
}


.log-in-link {
    color: #596D48;
}

.log-in-link:hover {
    color: #4a5f3f;
}

input {
    padding: 0.2rem;
    border: 1px solid #0000003d;
    border-radius: 5px;
}

input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

input:focus-visible {
    outline: none;
    border: 1px solid blue;
    box-shadow: 5px 5px 10px -4px #0000003d;
    transition: all 0.2s ease-in-out;
}

input:hover {
    background-color: #f3f3f3;
}

.message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
